{% extends 'base.html.twig' %}

{% block title %}
    Test list
{% endblock %}
{% block body %}
    <h1 class="text-center">Test list</h1>
    {% if data is defined and data|length %}

        <table class="table table-striped">
            <thead>
            <tr class="table-primary">
                <th>{{ 'label.id' |trans }}</th>
                <th>{{ 'label.title' |trans }}</th>
                <th>{{ 'label.tags' |trans }}</th>
                <th>
                    {{  'label.actions' |trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.tags|join(', ') }}</td>
                    <td>
                        <a href="{{ url ('test_view' , {"id": item.id })}}" title="{{ 'label.actions' |trans }}"> {{  'label.view' |trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}

{% endblock  %}